=== Response Fields
|===
|Path|Type|Optional|Description

{{#fields}}


|{{#tableCellCotent}}`+{{path}}+`{{/tableCellContent}}
|{{#tableCellCotent}}`+{{type}}+`{{/tableCellContent}}
|{{#tableCellCotent}}{{#optional}}O{{#optional}}{{/tableCellContent}}
|{{#tableCellCotent}}{{description}}{{/tableCellContent}}

{{/fields}}

|===